#chatbox {
  display: flex;
  width: 100vw;
  height: calc(100vh - 100px);
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.chatmsg {
  width: 100vw - 10px;
  margin-left: 10px;
  padding: 5px;
}